@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500&display=swap");

/* || RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.desktop-img {
  display: none;
}

/* || VARIABLES */

:root {
  /* FONTS */
  --FF: "Montserrat", sans-sarif;
  --HEADING-FF: "Fraunces", cursive;
  --FS: 1rem;
  --HEADING-FS: 2.3em;

  /* COLORS */
  --BGCOLOR: hsl(30, 38%, 92%);
  --BODY-BGCOLOR: hsl(0, 0%, 100%);
  --BODY-COLOR: hsl(228, 12%, 48%);
  --HEADER-COLOR: hsl(212, 21%, 14%);
  --HIGHLIGHT-COLOR: hsl(158, 36%, 37%);
  --LINK-COLOR: #00f;
  --LINK-HOVER: hsla(240, 100%, 50%, 0.719);
  --LINK-ACTIVE: #f00;

  /* STANDARD PADDING */
  --PADDING-TB: 2.5em;
  --PADDING-SIDES: 2em;

  /* STANDARD MARGIN */
  --MARGIN: 10em 0;
  --MARGIN-BTM: 1em;
}

/* || GENERAL STYLES */

html {
  background-color: var(--BGCOLOR);
  font-family: var(--FF);
  font-size: var(--FS);
}

.main {
  background-color: var(--BODY-BGCOLOR);
  min-width: 320px;
  height: 600px;
  margin: 1em 0.9em;
  border-radius: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  margin-bottom: 1em;
}

.mobile-hero {
  display: block;
  width: 100%;
  height: auto;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.info {
  margin: 0 1.4em;
}

.info__h1 {
  text-transform: uppercase;
  color: var(--BODY-COLOR);
  letter-spacing: 0.4em;
  font-size: 0.8em;
  font-weight: 500;
  margin-bottom: 1em;
}

.info__h2 {
  color: var(--HEADER-COLOR);
  font-family: var(--HEADING-FF);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 0.5em;
}

.info__p {
  color: var(--BODY-COLOR);
  font-size: 0.9em;
  line-height: 1.6em;
  margin-bottom: 1.5em;
  font-weight: 500;
}

.info__price {
  margin-bottom: 1.3em;
  display: flex;
  align-items: center;
}

.new-price {
  color: var(--HIGHLIGHT-COLOR);
  font-family: var(--HEADING-FF);
  font-size: 1.9rem;
  font-weight: 700;
}

.old-price {
  color: var(--BODY-COLOR);
  margin-left: 1.5em;
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: line-through;
}

.button {
  background-color: var(--HIGHLIGHT-COLOR);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-left: 0em;
  border-radius: 10px;
}

.info__cart {
  font-weight: 700;
  background-color: var(--HIGHLIGHT-COLOR);
  border: none;
  margin-left: 0.8em;
  color: whitesmoke;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: var(--BODY-BGCOLOR);
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  padding: 0.5em;
}

a:any-link {
  text-decoration: none;
  color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

a:active {
  color: var(--LINK-ACTIVE);
}

@media screen and (min-width: 576px) {
  .mobile-img {
    display: none;
  }

  .desktop-img {
    display: block;
    width: 100%;
    height: auto;
  }

  .main {
    background-color: var(--BODY-BGCOLOR);
    width: 665px;
    max-height: 500px;
    margin: 0 auto;
    margin-top: -4em;
    border-radius: 15px;
  }

  .container {
    margin: var(--MARGIN);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .desktop-hero {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    min-height: 100%;
  }

  .info {
    max-width: 80%;
    margin: 2em 0;
    margin-left: 1.7em;
  }

  .info__h1 {
    margin-bottom: 1.5em;
    text-transform: uppercase;
    font-family: var(--FF);
    font-size: 0.8em;
    color: var(--BODY-COLOR);
    letter-spacing: 0.3em;
    font-weight: 500;
  }

  .info__h2 {
    margin-bottom: var(--MARGIN-BTM);
    font-family: var(--HEADING-FF);
    color: var(--HEADER-COLOR);
    font-weight: bolder;
    line-height: 1em;
    font-size: var(--HEADING-FS);
  }

  .info__p {
    margin-bottom: 1.5em;
    color: var(--BODY-COLOR);
    font-size: 1em;
    line-height: 1.7em;
  }

  .info__price {
    margin-bottom: 2em;
  }

  .new-price {
    font-family: var(--HEADING-FF);
    font-size: 2rem;
    color: var(--HIGHLIGHT-COLOR);
    font-weight: 700;
  }

  .old-price {
    padding-left: 1em;
    margin: 0;
    font-family: var(--FF);
    font-size: 0.9em;
    color: var(--BODY-COLOR);
    text-decoration: line-through;
  }

  .button {
    margin-top: 0.3em;
    background-color: var(--HIGHLIGHT-COLOR);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0em;
    border-radius: 10px;
  }

  .info__cart {
    background-color: var(--HIGHLIGHT-COLOR);
    border: none;
    margin-left: 1em;
    color: whitesmoke;
  }

  footer {
    position: fixed;
    bottom: 0;
    background-color: var(--BODY-BGCOLOR);
    width: 100%;
    text-align: center;
    font-size: 1em;
    padding: 0.5em;
  }
}
